.statistik-container {
  display: flex; /* Use flexbox to align items horizontally */
  background-color: tomato;
}

.statistik-image {
  margin-right: 10px; /* Optional: Add some spacing between the images */
}
