.logoEO{
    width: 200px;
    height: auto;
}

.nameEO, .subjek{
    font-weight: bold;
}

.btnProfile{
    border: 2px #1250A2 solid;
    color: #1250A2;
}

.btnProfile:hover{
    background: #1250A2;
    border: 2px #1250A2 solid;
}