/* style.css */
.sidebar{
    height: 100vh;
    border-right: 1px solid #838383;
    box-shadow: 0 0 15px rgba(123, 121, 121, 0.5);
    clip-path: inset(0px -5px 0px 0px);
}

.nav-link.active {
    background-color: #1250a2 !important;
    color: #fff;
}

.nav-link, .navlink:hover{
    color: black;
    font-weight: bold;
}